<p id="notice"><%= notice %></p>

<h1>Listando Clientes:</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Observação</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.nome %></td>
        <td><%= client.cpf %></td>
        <td><%= client.telefone %></td>
        <td><%= client.email %></td>
        <td><%= client.observacao %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
