<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @client.nome %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @client.cpf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @client.telefone %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @client.observacao %>
</p>

<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Voltar', clients_path %>
